! =============================
! =  Etienne (Maiste) MARAIS  =
! =     Xressources config    =
! =============================

! Color
#include ".Xresources.d/nord"

! Urxvt
#include ".Xresources.d/urxvt"

! Rofi
#include ".Xresources.d/rofi"

