##################
# OCAML Snippets #
#     Maiste     #
##################


snippet pmatch "Pattern matching"
match $1 with
| $2 -> $3
endsnippet

snippet letin "Local definition"
let $1 = $2 in $3
endsnippet
