[user]
  name = Etienne MARAIS
  email = etienne@maiste.fr
  signingkey = EC3B896D61BC710F

[core]
  editor = nvim

[commit]
	gpgsign = true        # Sign all code
[gpg]
  program = gpg

[init]
	defaultBranch = main
[pull]
  rebase = true         # Force rebase
[push]
  default = simple      # Push the branch like upstream if local has the same name
[merge]
  conflictstyle = diff3 # Add a parent commit

[alias]
  # Remote
  cl = clone
  pl = pull
  ps = push
  psf = push --force
  fe = fetch
  fep = fetch -p

  # Branch
  sw = switch
  swc = switch -c
  re = restore
  ck = checkout
  rb = rebase
  rbi = rebase -i
  rbf = rebase -i --autosquash
  mr = merge
  rs = reset

  # Status
  s = status
  ss = status -s

  # Diff
  df = diff
  dfc = diff --cached
  dfs = diff --staged

  # Commits
  a = add
  c = commit
  cm = commit -m
  ca = commit --amend
  cf = commit --fixup

  # Logs
  l = log --graph --decorate --all
  lo = log --oneline --graph --all
