[user]
    name = Etienne Marais
    email = dev@maiste.fr
    signingkey = 030C4ED753794A0E

[core]
    editor = nvim
    pager = delta

[commit]
    gpgsign = true                        # Sign all code
[gpg]
    program = gpg                         # Program to sign commit

[init]
    defaultBranch = main                  # Select main as the main branch
[pull]
    rebase = true                         # Force rebase
[push]
    default = simple                      # Push the branch like upstream if local has the same name

[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
    # Use n and N to move between diff sections
    navigate = true
    # Theme to use as light theme
    # syntax-theme = OneHalfLight
    # Theme to use as dark theme
    syntax-theme = Nord
[diff]
    # Use the default mode
    colorMoved = default 
[merge]
    # Add a parent commit to check the diffs
    conflictstyle = diff3

[alias]

   # Remote
    pl = pull
    ps = push
    fe = fetch
    fep = fetch -p
    rt = remote

    # Branch
    br = branch
    brd = branch -d
    brD = branch -D
    sw = switch
    swc = switch -c
    re = restore
    rs = reset
    co = checkout
    cp = cherry-pick
    rb = rebase
    rbc = rebase --continue
    rba = rebase --abort
    rbi = rebase -i
    rbf = rebase -i --autosquash

    # Status
    s = status
    ss = status -s

    # Diff
    df = diff
    dfc = diff --cached
    dfs = diff --staged

    # Commit
    a = add
    c = commit
    cs = commit --signoff
    cm = commit -m
    csm = commit --signoff --message
    ca = commit --amend
    cf = commit --fixup
    csf = commit --signoff --fixup

    # Log
    l = log --graph --decorate --all
    lo = log --oneline --graph --all

    # Stash
    sa = stash
    sac = stash clear
    sai = stash push
    sao = stash pop
    sal = stash list

    # Worktree
    wta = worktree add
    wtr = worktree remove
    wtp = worktree prune

    # Submodules
    sbiu = submodule update --init
    sbiur = submodule update --init --recursive

[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
