[user]
    name = Etienne Marais
    email = dev@maiste.fr
    signingkey = 030C4ED753794A0E

[core]
    editor = nvim
    pager = delta

[commit]
    gpgsign = true                        # Sign all code
    verbose = true                        # Add more information when updating the commit message
[gpg]
    program = gpg                         # Program to sign commit
[column]
    ui = auto                             # Display using column mode
[branch]
    sort = -committerdate                 # Use the last commit date
[tag]
    sort = version:refname                # Sort tag by treating the SemVer correctly

[init]
    defaultBranch = main                  # Select main as the main branch
[pull]
    rebase = true                         # Use rebase by default instead of merge: cleaner
[push]
    default = simple                      # Push the branch like upstream if local has the same name
    # autoSetupRemote = true                # If upstream branch is not set, it will automatically set it. Deactivate because don't like auto.
[fetch]
    prune = true                            # Auto prune on fetch
    pruneTags = true                        # Same as prune but for tags
[merge]
    conflictstyle = zdiff3                 # Add a parent commit to check the diffs (z if for zealous diff3)
[rebase]
    autoSquash = true                     # Force the rebase to use --autosquash
    autoStash = true                      # Create a stash before rebase and reapply after

[interactive]
    diffFilter = delta --color-only
[help]
    autocorrect = prompt                    # Auto correct but ask for confirmation
[delta]
    line-numbers = true
    # Use n and N to move between diff sections
    navigate = true
    # Theme to use as light theme
    # syntax-theme = OneHalfLight
    # Theme to use as dark theme
    syntax-theme = Nord
[diff]
    colorMoved = default                  # Use the default mode
    algorithm = histogram                 # Better diff algorithm
    renames = true                        # Detect if this is a file renaming or not


[alias]

   # Remote
    pl = pull
    ps = push
    fe = fetch
    rt = remote

    # Branch
    br = branch
    brd = branch -d
    brD = branch -D
    sw = switch
    swc = switch -c
    re = restore
    rs = reset
    co = checkout
    cp = cherry-pick
    rb = rebase
    rbi = rebase -i
    rbc = rebase --continue
    rba = rebase --abort

    # Status
    s = status
    ss = status -s

    # Diff
    df = diff
    dfc = diff --cached
    dfs = diff --staged

    # Commit
    a = add
    c = commit
    cs = commit --signoff
    cm = commit -m
    cms = commit --signoff --message
    ca = commit --amend
    cas = commit --signoff --amend
    cf = commit --fixup
    cfs = commit --signoff --fixup

    # Log
    l = log --graph --decorate --all
    lg = log --oneline --graph --all

    # Stash
    st = stash
    stc = stash clear
    stl = stash list
    stpu = stash push
    stpo = stash pop

    # Worktree
    wta = worktree add
    wtr = worktree remove
    wtp = worktree prune

    # Submodules
    sbiu = submodule update --init
    sbiur = submodule update --init --recursive

[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
